<footer class="bg-light py-2 border-top">
  <div
    class="container d-flex flex-column flex-md-row justify-content-between align-items-center"
  >
    <div class="mb-2 mb-md-0 text-center text-md-start">
      <a
        [routerLink]="['/aboutus']"
        class="text-decoration-none me-3 text-muted small"
        >About Us</a
      >
      <a
        [routerLink]="['/contactus']"
        class="text-decoration-none text-muted small"
        >Contact Us</a
      >
    </div>
    <div class="text-center text-muted small">
      &copy; 2025 GeriaCare. Todos los derechos reservados.
    </div>
  </div>
</footer>
