<div class="container vh-100 d-flex align-items-center justify-content-center">
  <div class="w-100" style="max-width: 520px">
    <h2 class="text-center fw-bold">Registrar Dieta Alimenticia</h2>
    <p class="text-center text-muted mb-4">
      Completa el formulario para registrar una dieta
    </p>

    <form [formGroup]="dietForm" (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label class="form-label">Persona Mayor</label>
        <select class="form-select" formControlName="persona_mayor_id">
          <option value="" disabled selected>Selecciona un residente</option>
          @for (elder of elders(); track elder.id) {
          <option [value]="elder.id">
            {{ elder.nombre }} {{ elder.apellido }}
          </option>
          }
        </select>
      </div>

      <div class="mb-3">
        <label class="form-label">Descripción</label>
        <textarea
          class="form-control"
          rows="2"
          formControlName="descripcion"
          placeholder="Descripción de la dieta"
        ></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label">Restricciones</label>
        <textarea
          class="form-control"
          rows="2"
          formControlName="restricciones"
          placeholder="Alimentos que se deben evitar"
        ></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label">Recomendaciones</label>
        <textarea
          class="form-control"
          rows="2"
          formControlName="recomendaciones"
          placeholder="Alimentos recomendados"
        ></textarea>
      </div>

      <div class="mb-3">
        <label class="form-label">Fecha de inicio</label>
        <input
          type="date"
          class="form-control"
          formControlName="fecha_inicio"
        />
      </div>

      <div class="mb-3">
        <label class="form-label">Fecha de fin</label>
        <input type="date" class="form-control" formControlName="fecha_fin" />
      </div>

      <div class="mb-3">
        <label class="form-label">¿Dieta activa?</label>
        <select class="form-select" formControlName="es_activa">
          <option value="" disabled selected>Selecciona una opción</option>
          <option value="1">Sí</option>
          <option value="0">No</option>
        </select>
      </div>

      <div class="d-grid">
        <button type="submit" class="btn btn-dark">Registrar Dieta</button>
      </div>
    </form>
  </div>
</div>
