<div class="d-flex flex-column" style="height: calc(100vh - 80px)">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h1 class="fw-bold mb-4 text-primary display-4">Sobre GeriaCare</h1>
        <p class="lead text-muted mb-5">
          GeriaCare es una plataforma integral creada para transformar la manera
          en que los cuidadores organizan y administran el bienestar de las
          personas mayores.
        </p>

        <div class="card shadow-lg border-0 mb-5">
          <div class="card-body p-4 text-start">
            <p class="mb-4 fs-5">
              Nuestra misión es proporcionar una herramienta innovadora que
              permita a cuidadores y familiares planificar y registrar todas las
              actividades relevantes para el cuidado de adultos mayores, como
              <strong
                >rutinas diarias, dietas personalizadas, control de medicación y
                contactos de emergencia</strong
              >. Gracias a GeriaCare, podrás centralizar la información en un
              solo lugar, mejorando la comunicación, la organización y la
              tranquilidad en el cuidado diario.
            </p>
            <p class="mb-4 fs-5">
              GeriaCare ha sido desarrollada pensando en la comodidad y
              facilidad de uso: su interfaz intuitiva te permite registrar y
              acceder a datos importantes en cuestión de segundos, evitando
              olvidos y asegurando el cumplimiento de las necesidades
              específicas de cada persona mayor.
            </p>
            <p class="mb-4 fs-5">
              Además, con nuestro sistema podrás generar registros históricos
              que ayudan a monitorear la evolución del estado de salud y
              bienestar de los residentes, facilitando la toma de decisiones
              informadas por parte de cuidadores y profesionales de la salud.
            </p>
            <p class="mb-4 fs-5">
              Creemos firmemente en el valor de cuidar con amor, responsabilidad
              y precisión; por eso, GeriaCare se convierte en tu aliado para
              lograr un entorno de cuidado organizado, seguro y de alta calidad.
            </p>
          </div>
        </div>

        <a [routerLink]="['/home']" class="btn btn-primary btn-lg shadow">
          Volver al inicio
        </a>
      </div>
    </div>
  </div>
  <app-landing-footer></app-landing-footer>
</div>
