<div class="d-flex min-vh-100">
  <!-- SIDEBAR -->
  <app-side-bar
    [isCollapsed]="isCollapsed"
    [isMobileMenuVisible]="isMobileMenuVisible"
    (toggleSidebarRequest)="toggleSidebar()"
  ></app-side-bar>

 <!-- Floating Toggle Button -->
<button
  class="d-md-none floating-toggle-btn"
  (click)="toggleSidebar()"
  aria-label="Toggle sidebar"
>
  <svg *ngIf="!isMobileMenuVisible" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
    <path
      fill-rule="evenodd"
      d="M3 8a.5.5 0 0 1 .5-.5h8.793L9.146 4.354a.5.5 0 1 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L12.293 8.5H3.5A.5.5 0 0 1 3 8z"
    />
  </svg>
  <svg *ngIf="isMobileMenuVisible" xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 16 16">
    <path
      fill-rule="evenodd"
      d="M13 8a.5.5 0 0 0-.5-.5H3.707l3.647-3.646a.5.5 0 0 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L3.707 8.5H12.5A.5.5 0 0 0 13 8z"
    />
  </svg>
</button>


  <!-- MAIN CONTENT -->
  <div class="flex-grow-1 p-3 position-relative main-content">
    <router-outlet></router-outlet>
  </div>
</div>
